.sidebar-wrapper {
  max-width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-left: 20px;
  margin-top: 20px;
}

.sidebar-wrapper .sidebar-list {
  list-style-type: none;
  padding:0;
  margin: 10px;
      width: 250px;
      /* justify-content: space-around; */

}
.sidebar-list li {
  margin: 10px;
  cursor: pointer;
}

.sidebar-list li:hover {
  background-color: #feeaef;
  color: #af422d;
}

/* .search input {
  width: 240px;
  height: 40px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 20px;
} */

.search-container {
  position: relative;
  width: 300px;
}

.search-container input {
  width: 100%;
  padding: 10px 35px 10px 40px; 
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #939199;
}

.search-container .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  
}

